<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário de Matéria</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='form.css')}}">
</head>
<body>

    <div class="form-container">
        <h2>Formulário de Matéria</h2>
        <form action="/log_adm" method="POST">
            <!-- Campo de texto para título -->
            <label for="titulo">Nome:</label>
            <input type="text" id="titulo" name="titulo" required placeholder="nome">

            

            
            <!-- Campo de texto para nome do link -->
            <label for="nome_link">Senha:</label>
            <input type="password" id="nome_link" name="nome_link" required placeholder="senha">

            <button type="submit">Enviar</button>
        </form>
    </div>

</body>
</html>
